@CHARSET "UTF-8";
#member #product_list{
	border:1px solid #999;
	width:750px;
	margin:9px;
	float:right;
	background:#eee;
}
#member #product_list h2{
	background:#bbb;
}
#member #product_list table{
	width:100%;
	text-align:center;
	margin-bottom:0px;
}
#member #product_list table tr{
	line-height:30px;
	background:#ddd;
}
#member #product_list table tr.orders td{
	line-height:25px;
	text-align:left;
	font-size:10px;
	background:#ccc;
}
#member #product_list table tr.orders td span{
	margin:0 10px;
}
#member #product_list table tr.orders td span.deliver{
	float:right;
	margin:0 10px;
}
#member #product_list table tr th{
	background:#ccc;
}
#member #product_list table tr td{
	line-height:48px;
}
#member #product_list table td a{
	text-decoration:none;
	color:#333;
}
#member #product_list table td a:hover{
	text-decoration:underline;
	color:#03f;
}
#member #product_list p.line{
	width:95%;
	margin:0 auto;
	clear:both;
	height:5px;
	border-bottom:1px dashed #333;
}
